* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1d0765;
}

.question_2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gameContainer {
  border: 1px solid rgb(67, 24, 87);
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

.error {
  border: 3px solid red;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(255, 166, 0, 0.165);
  color: red;
  text-transform: uppercase;
  padding: 1rem;
  margin: 4rem;
  text-align: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(67, 24, 87);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
